Repository PulexIrritans/quiz-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, htmlhint, stylelint, eslint

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "*.html": ["htmlhint"],
  "*.css": ["stylelint"],
  "*.js": ["eslint"]
}

github npm test trial
  .github/workflows/run-tests.yml
  index.html
Due: prettier --ignore-unknown --write, htmlhint

lint style rule change
  .stylelintrc.json
Due: prettier --ignore-unknown --write

change css linter rule color
  .stylelintrc.json
Due: prettier --ignore-unknown --write

change class and id pattern styles
  .stylelintrc.json
Due: prettier --ignore-unknown --write

add input counter to create page
  javascript.js
  pages/Create/create.html
Due: prettier --ignore-unknown --write, htmlhint, eslint

single page application create
  .husky/pre-commit
  components/Footer/footer.css
  components/QuestionCard/questioncard.css
  index.html
  javascript.js
  pages/Bookmarks/bookmarks.css
  styles.css
Due: prettier --ignore-unknown --write, htmlhint, stylelint, eslint

refactor question-card buttons and bookmarks js
  components/Footer/footer.css
  javascript.js
Due: prettier --ignore-unknown --write, stylelint, eslint

fix menu navigation
  .github/workflows/run-tests.yml
  components/Footer/footer.css
  index.html
  javascript.js
Due: prettier --ignore-unknown --write, htmlhint, stylelint, eslint

change bookmark icon style
  components/Footer/footer.css
  components/QuestionCard/questioncard.css
Due: prettier --ignore-unknown --write, stylelint

fix toggle answer button
  index.html
  javascript.js
Due: prettier --ignore-unknown --write, htmlhint, eslint

change design
  assets/hacker-g56603597a_1920.jpg
  components/Button/button.css
  components/Footer/footer.css
  components/Form/form.css
  components/Profile/profile.css
  components/QuestionCard/questioncard.css
  components/TagList/taglist.css
  javascript.js
  styles.css
Due: prettier --ignore-unknown --write, stylelint, eslint

implement bookmark add and remove from index page
  index.html
  javascript.js
Due: prettier --ignore-unknown --write, htmlhint, eslint

implement bookmark remove on bookmark page
  javascript.js
Due: prettier --ignore-unknown --write, eslint

change form focus style
  components/Form/form.css
  components/Form/form.html
Due: prettier --ignore-unknown --write, htmlhint, stylelint

Question card hidden class change
  .vscode/settings.json
  components/QuestionCard/questioncard.css
  index.html
  javascript.js
  pages/Bookmarks/bookmarks.css
  styles.css
Due: prettier --ignore-unknown --write, htmlhint, stylelint, eslint

refactor questioncard javascript
  javascript.js
Due: prettier --ignore-unknown --write, eslint

refactor menu javascript
  javascript.js
Due: prettier --ignore-unknown --write, eslint

Add some comments to javascript code
  javascript.js
Due: prettier --ignore-unknown --write, eslint
